<div class="header">
  <div class="header-logo">
    <a class="logo" href="#">
      <img src="assets/TaviscaLogo.jpg" alt="Avatar" class="avatar">
    </a>
  </div>
  <div class="header-user">
    <img src="assets/logo.png" alt="user-icon" class="icon">  
    <div class="dropdown">
      <button class=" btn dropbtn">My Account</button>
      <div class="dropdown-content"> 
        <a href="">Settings</a> 
        <a href="" (click)="ResetPassword()">Reset Password</a>
        <a href="" (click)="Logout()">Logout</a>
      </div>
    </div>
  </div>
</div>