<div class="header">
  <div class="header-logo">
    <a class="logo" href="#">
      <img src="assets/TaviscaLogo.jpg" alt="Avatar" class="avatar">
    </a>
  </div>
  <div class="header-user">
    <img src="assets/logo.png" alt="user-icon" class="icon">
    <div class="user">
      <select class="dropdown">
        <option>My Account</option>
        <option>Change Password</option>
        <option>LogOut</option>
      </select>
      <p class="hello">Hello User!</p>
    </div>
  </div>
</div>