<!-- <meta http-equiv="refresh" content="20">   -->
<app-header></app-header>
<app-nav-without-search></app-nav-without-search> 
<table> 
  <tr>
    <th>Visitor Id</th>
    <th>Name Of Visitor</th>
    <th>Contact</th> 
    <th>Date Of Visit</th>
    <th>Time In</th>
    <th>Time Out</th>
  </tr> 
    <tr *ngFor="let item of homeContent| paginate: { itemsPerPage:15, currentPage: p } ">
      <td>{{item.category}} </td>
      <td>{{item.name}} </td>
      <td>{{item.contactNo}} </td>
      <td>{{item.outDate}} </td>
      <td>{{item.inTime}} </td>
      <td>{{item.outTime}} </td>
    </tr>
</table>
<br/>
<pagination-controls class="pagination" (pageChange)="p =$event"></pagination-controls>