<!-- <meta http-equiv="refresh" content="20"> -->
<app-header></app-header>
<app-nav-without-search></app-nav-without-search>
<table>
    <tr> 
        <th>Visitor Id</th> 
        <th>Name Of Visitor</th> 
        <th>Contact</th>
        <th>Coming From</th>
        <th>Whom To Meet</th> 
        <th>Date Of Visit</th> 
        <th>Time In</th>
        <th>Time Out</th>  
    </tr> 
    <tr *ngFor="let data of this.homeContent">  
      <td>{{data.category}}</td> 
      <td>{{data.name}}</td> 
      <td>{{data.inTime}}</td>
      <td>{{data.outTime}}</td> 
      <td>{{data.contactNo}}</td>
      <td>{{data.inDate}}</td> 
      <td>{{data.outDate}}</td>
      <td>{{data.indateInTime}}</td> 
    </tr>   
  </table>