button.btn-submit {
    background-color: blue;
    color: #fff;
    width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover {
    background-color: blueviolet;
}
div.validation-error {
    color: red;
}
div.sm-jumbotron {
    margin: 0px;
    padding: 2rem;
    background-color: steelblue;
    color: #fff;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  .mat-radio-button { 
      position: absolute  !important;
  }
  .validation { 
      color: red; 
  }
  .validation-div {
      text-align: center;
  }
  /* .cdk-overlay-connected-position-bounding-box {
    width: 180px !important;
    top: 230px !important;
    position: relative !important;
} */