<div><img src="assets/TaviscaLogo.jpg"></div>
<div *ngIf=" validationMessage != ''" class="validation-div">
  <label class="validation">{{validationMessage}}</label>
</div>
<form [formGroup]="newPasswordForm" #formcontrol="ngForm" class="new-password-form" (ngSubmit)="onSubmit(); Validations()">
  <div class="form-group container">
    <label>Enter new password: </label>
    <input type="text" placeholder="Minimum 6 characters required" formControlName="newPswd" class="form-control" [(ngModel)]="newPswd" [ngClass]="{ 'is-invalid': submitted && f.newPswd.errors }"
      required minlength="6" />
    <div *ngIf="submitted && f.newPswd.errors" class="invalid-feedback">
      <div class="validationMessage" *ngIf="f.newPswd.errors.required">Password is required</div>
      <div class="validationMessage" *ngIf="f.newPswd.errors.minlength">Password must be at least 6 characters long.</div>
    </div>
  </div>
  <div class="form-group container">
    <label>Confirm Password: </label>
    <input type="text" placeholder="Both passwords must match" formControlName="confirmPswd" class="form-control" [(ngModel)]="confirmPswd"
      [ngClass]="{ 'is-invalid': submitted && f.confirmPswd.errors }" required minlength="6" />
    <div *ngIf="submitted && f.confirmPswd.errors" class="invalid-feedback">
      <div class="validationMessage" *ngIf="f.confirmPswd.errors.required">Confirm Password is required</div>
      <div class="validationMessage" *ngIf="f.confirmPswd.errors.minlength">Password must be at least 6 characters long.</div>
    </div>
  </div>
</form>
<div class="form-group">
  <button type="submit" class="btn btn-primary submit" [disabled]="!formcontrol.form.valid" (click)="SetNewPassword()">Submit</button>
</div>