<app-header></app-header>
<app-nav-without-search></app-nav-without-search>    
<form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit(); Validations()">
<div class="form-group container">
  <label>Enter new password: </label>
  <input type="text" placeholder="New password" formControlName="newPswd" class="form-control" [(ngModel)]="newPswd" [ngClass]="{ 'is-invalid': submitted && f.newPswd.errors }" />
  <div *ngIf="submitted && f.newPswd.errors" class="invalid-feedback">
  <div class="validationMessage" *ngIf="f.newPswd.errors.required">Employee Id is required</div>
  </div>
</div>
</form>
<div class="form-group">
  <button type="submit" class="btn btn-primary" (click)="SetNewPassword()">Otp</button>
</div>