<ngx-spinner class="spinner" bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple" item-width="100px">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="imgcontainer">
        <img src="assets/TaviscaLogo.jpg" alt="Avatar" class="avatar">
      </div>
      <div class="col-md-6 offset-md-3">
        <div *ngIf=" validationMessage != ''" class="validation-div">
          <label class="validation">{{validationMessage}}</label>
        </div>
        <form #formcontrol="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(); Validations()">

          <div class="form-group container">
            <label>Employee Id: </label>
            <input type="text" placeholder="Employee Id" formControlName="userid" class="form-control" [(ngModel)]="userid" [ngClass]="{ 'is-invalid': submitted && f.userid.errors }" required
            />
            <div *ngIf="submitted && f.userid.errors" class="invalid-feedback">
              <div class="validationMessage" *ngIf="f.userid.errors.required">Employee Id is required</div>
            </div>
          </div>
          <div class="form-group container">
            <label>Password</label>
            <input type="password" placeholder="Password" formControlName="password" class="form-control" [(ngModel)]="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" minlength="6" required
            />
            <div *ngIf="f.password.errors" class="invalid-feedback">
              <div class="validationMessage" *ngIf="f.password.errors.required">Password is required</div>
              <div class="validationMessage" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary"  (click)="Authentication()" [disabled]="!formcontrol.form.valid">Login</button>
          </div>
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn" (click)="refresh()">Reset</button>
            <span class="psw">
              <a (click)="ForgotPassword()">Forgot password?</a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>