<app-header></app-header>
<app-nav-without-search></app-nav-without-search>
 
<div>
    <table>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Gender</th>
            <th>Email Id</th>
            <th>Date Of Joining</th> 
            <th>Primary Contact Number</th>
            <th>Secondary Contact Number</th>
            <th>Remark</th>
        </tr>
        <tr *ngFor="let data of employees| paginate: { itemsPerPage:15, currentPage: p }">
            <td>{{data.employeeId}}</td>
            <td>{{data.employeeName}}</td>
            <td>{{data.gender}}</td>
            <td>{{data.emailId}}</td>
            <td>{{data.dateOfJoining}}</td>  
            <td>{{data.primaryContactNumber}}</td>
            <td>{{data.secondaryContactNumber}}</td>
            <td> {{data.remark}}</td>
        </tr>
    </table>
    <pagination-controls *ngIf="this.countOfEmployees > 15" class="pagination" (pageChange)="p =$event"></pagination-controls>
</div>