<div class="nav"> 
    <button class="btn" routerLink="/welcomePage">Home</button>
    <div class="dropdown">
      <button class=" btn dropbtn">Visitors</button>
      <div class="dropdown-content">
        <a routerLink="/displayVisitors">Unique Visitors</a>
        <a routerLink="/visitorsLog">Visitors Log</a>
      </div>
    </div>
    <div class="dropdown">
      <button class=" btn dropbtn">Guards</button>
      <div class="dropdown-content">  
        <a routerLink="/displayGuards">Unique Guards</a>
        <a routerLink="/guardLogs">Guards Log</a>
        <a routerLink="/addGuard">Add Guards</a> 
        <a href="#" data-toggle="modal" data-target="#removeGuard">Remove Guards</a> 
        <a href="#" data-toggle="modal" data-target="#edit">Edit Guards</a> 
      </div>
      <div class="container">     
        <div class="modal fade" id="edit" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
                <label>Employee Id: </label>
                <input type="text" class="form-control" [(ngModel)]="editId" [ngClass]="{ 'is-invalid': submitted && f.editId.errors }" />
                <div *ngIf="submitted && f.editId.errors" class="invalid-feedback">
                    <div class="validationMessage" *ngIf="f.editId.errors.required">Employee Id is required</div>
                </div> 
                <button type="button" routerLink="/editGuardById" (click)="Edit()" data-dismiss="modal" class="btn btn-default nav-drop-btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>  
   <div class="container">     
        <div class="modal fade" id="removeGuard" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
                <label>Employee Id: </label>
                <input type="text" class="form-control" [(ngModel)]="removeId" [ngClass]="{ 'is-invalid': submitted && f.removeId.errors }" />
                <div *ngIf="submitted && f.removeId.errors" class="invalid-feedback">
                    <div class="validationMessage" *ngIf="f.removeId.errors.required">Employee Id is required</div>
                </div> 
                <button type="button" (click)="RemoveGuard()" data-dismiss="modal" data-dismiss="modal" class="btn btn-default nav-drop-btn">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <div class="dropdown">
      <button class=" btn dropbtn">Employees</button>
      <div class="dropdown-content">
        <a routerLink="/displayEmployee">Unique Employees</a>
        <a routerLink="/employeeLog">Employee Log</a>
        <a routerLink="/addEmployee">Add Employee</a>
        <a href="#" data-toggle="modal" data-target="#removeEmp">Remove Employee</a> 
        <a href="#" data-toggle="modal" data-target="#">Edit Employee</a> 
      </div>
      <div class="container">     
          <div class="modal fade" id="removeEmp" role="dialog">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                  <label>Employee Id: </label>
                  <input type="text" class="form-control" [(ngModel)]="removeId_Emp" [ngClass]="{ 'is-invalid': submitted && f.removeId_Emp.errors }" />
                  <div *ngIf="submitted && f.removeId_Emp.errors" class="invalid-feedback">
                      <div class="validationMessage" *ngIf="f.removeId_Emp.errors.required">Employee Id is required</div>
                  </div> 
                  <button type="button" (click)="RemoveEmployee()" data-dismiss="modal" data-dismiss="modal" class="btn btn-default nav-drop-btn">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>  
    </div>
  </div>
   