<div class="tab">
    <button class="tablinks" (click)="nameToggleCollapse()">Employee Name</button>
    <div class="filter-box" *ngIf="!nameIsCollapsed">
      Name:<br>
      <input class="form-control search-input" type="text" [(ngModel)]="name">
      <button class="search-btn" (click)="getByEmployeeName()">Search</button>
    </div>
    <button class="tablinks" (click)="idToggleCollapse()">Employee Id</button>
    <div class="filter-box" *ngIf="!idIsCollapsed">
      Id:<br>
      <input class="form-control search-input" type="text" [(ngModel)]="employeeId">
      <button class="search-btn" (click)="getById()">Search</button>
    </div>
    <button class="tablinks" (click)="dateToggleCollapse()">Date</button>
    <div class="filter-box" *ngIf="!dateIsCollapsed">
      From Date:<br>
      <input class="form-control search-input"  placeholder="mm/dd/yyyy" [(ngModel)]="fromdate" bsDatepicker>
      To Date:<br>
      <input class="form-control search-input"  placeholder="mm/dd/yyyy" [(ngModel)]="toDate" bsDatepicker [minDate]="fromdate" [maxDate]="currentDate">
      From Time:<br>
      <input class="form-control search-input" type="time" [(ngModel)]="fromTime">
      To Time:<br>
      <input class="form-control search-input" type="time" [(ngModel)]="toTime">
      <button class="search-btn" (click)="getByDate()">Search</button>
    </div>
    <button class="tablinks" (click)="dateNameToggleCollapse()">Date And Name</button>
    <div class="filter-box" *ngIf="!dateNameIsCollapsed">
      Name:<br>
      <input class="form-control search-input" type="text" [(ngModel)]="nameSecondFilter">
      From Date:<br>
      <input class="form-control search-input"  placeholder="mm/dd/yyyy" [(ngModel)]="fromdateSecondFilter" bsDatepicker >
      To Date:<br>
      <input class="form-control search-input"  placeholder="mm/dd/yyyy" [(ngModel)]="toDateSecondFilter" bsDatepicker [minDate]="fromdateSecondFilter" [maxDate]="currentDate">
      From Time:<br>
      <input class="form-control search-input" type="time" [(ngModel)]="fromTimeSecondFilter">
      To Time:<br>
      <input class="form-control search-input" type="time" [(ngModel)]="toTimeSecondFilter">
      <button class="search-btn" (click)="getByDateAndName()">Search</button>
    </div>
  </div>