<app-header></app-header>
<app-nav-without-search></app-nav-without-search>   
<app-guard-side-nav></app-guard-side-nav>
<div >
    <table>
        <tr> 
            <th>Guard Id</th>
            <th>Guard Name</th>
            <th>Login Time</th>
            <th>Logout Time</th> 
        </tr> 
        <tr *ngFor="let data of this.dataService.getResponseOfUniqueGuardByName()">  
            <td>{{data.guardId}}</td>
            <td>{{data.guardName}}</td>
            <td>{{data.loginTime}} {{data.loginDate}}</td>
            <td>{{data.logoutTime}} {{data.logoutDate}}</td> 
        </tr>   
    </table>
</div>
<div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="DownloadExcel()">Download Excel</button>
</div>
