table, th, td {
    border: 1px ;
    border-collapse: collapse;
    padding: 6px 26px;
    text-align: left;
    padding: 8px;  
}

table {
    margin-left:0.1%;
    margin-right:1%;
    width: 99.9%;
    border-collapse: collapse;
}

.display {
    display: flex;
}

.display-table {
    width: 100%;
}

.form-group {
    position: fixed;
    bottom: 0px;
    right: 15px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color:#e78c8c;}