<div class="forgot-password-div">
  <div><img src="assets/TaviscaLogo.jpg"></div>
  <form  #employeeIdForm="ngForm" [formGroup]="forgotPasswordForm_Id" (ngSubmit)="onSubmit(); Validations()">
    <div class="form-group container OtpForm">
      <label>Employee Id: </label>
      <input type="text" placeholder="Employee Id" formControlName="employeeId" class="form-control" [(ngModel)]="employeeId" [ngClass]="{ 'is-invalid': submitted && f_Id.employeeId.errors }" required />
      <div *ngIf="submitted && f_Id.employeeId.errors" class="invalid-feedback">
      <div class="validationMessage" *ngIf="f_Id.employeeId.errors.required">Employee Id is required</div>
      </div>
    </div> 
  </form>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="!employeeIdForm.form.valid" (click)="GetId()">Get OTP</button>
  </div>
  <div *ngIf="displayError">
    <p class="error">Invalid Id</p>
  </div>
  <div *ngIf="displayNext">
    <form #otpForm="ngForm" [formGroup]="forgotPasswordForm_Otp" (ngSubmit)="onSubmit(); Validations()"> 
      <p>OTP Has Been Sent</p> 
      <div class="form-group container OtpForm">
        <label>One Time Password (Otp): </label>
        <input type="number" placeholder="OTP" formControlName="otp" class="form-control" [(ngModel)]="otp" [ngClass]="{ 'is-invalid': submitted && f_Otp.otp.errors }" />
        <div *ngIf="submitted && f_Otp.otp.errors" class="invalid-feedback">
        <div class="validationMessage" *ngIf="f_Otp.otp.errors.required">Employee Id is required</div>
        </div>
      </div> 
    </form>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="!otpForm.form.valid" (click)="ValidateOtp()">Submit</button>
    </div>
  </div>
  <div *ngIf="displayOtpError">
      <p class="error">Invalid OTP</p>
    </div>
</div>